* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    padding: 10vw;
}

.card {
    background-color: lightskyblue;
    padding: 2em;
    border-radius: 10px;
    max-width: 400px;
    margin: 1em 0;
}

#add {
    margin-top: 3em;
    padding: 1rem;
    background-color: salmon;
    border-radius: 50%;
}