* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    border: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    padding: 5vw;
}

h1 {
    font-size: 2rem;
    color: #6d6d6d;
    padding-bottom: 1rem;
    
}

.card_container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: aquamarine;
    padding: 2em;
    border-radius: 10px;
    max-width: 400px;
    margin: 1em 2em 1em 0;
    font-weight: bold;
    display: flex;
    color: white;
}

.cardInfo{
    display: inline;
    
}

#add {

    margin-top: 1rem;
    padding: 1rem;
    background-color: aquamarine;
    width: 3rem;
    border-radius: 1.5rem;
    color: white;
    font-weight: bold;
    
    
}

#add:focus, .toggle:focus {
    
    outline: none;
    border: 0;
}

.toggle {
    background-color: white;
    border-radius: 10px;
    margin-left: 2rem;
    font-size: 2rem;
    display: inline;
    height: 3rem;
    width: 3rem;
    color: aquamarine;

}